In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [ ]:
data = pd.read_excel('/content/Dados de preço de carbono limpos.xlsx')

In [ ]:
data

,Name of the initiative,Price_rate_1_2021,PIBPCT,IDH,GINI
0,Argentina carbon tax,5.543044,8579,0.8360,42.3
1,BC carbon tax,35.813768,60707,0.9380,41.1
2,Canada federal fuel charge,31.834461,43258,0.9130,33.3
3,Chile carbon tax,5.000000,13231,0.8320,44.9
4,Colombia carbon tax,5.000000,5334,0.7200,54.2
5,Estonia carbon tax,2.349200,23054,0.8610,30.8
6,Finland carbon tax,72.825200,48755,0.8830,27.7
7,France carbon tax,52.387160,39037,0.8880,32.4
8,Iceland carbon tax,34.834930,59264,0.8890,26.1
9,Ireland carbon tax,39.349100,85422,0.9160,30.6
10,Japan carbon tax,2.608539,40193,0.8910,32.9
11,Latvia carbon tax,14.095200,17619,0.8660,34.5
12,Liechtenstein carbon tax,101.474552,180366,0.9080,35.3
13,Luxembourg carbon tax,40.124336,116356,0.8920,34.2
14,Manitoba carbon tax,19.896538,51484,0.9050,33.3
15,Mexico carbon tax,3.179550,8329,0.7560,45.4
16,Netherlands carbon tax,35.238000,52396,0.8920,29.2
17,New Brunswick carbon tax,31.834460,49218,0.8980,33.3
18,Newfoundland and Labrador carbon tax,23.875850,71527,0.8940,33.3
19,Northwest Territories carbon tax,23.875846,100871,0.9240,33.3
20,Norway carbon tax,69.326326,67329,0.9570,27.7
21,Poland carbon tax,0.078624,15746,0.8430,30.2
22,Portugal carbon tax,28.190400,22194,0.8300,32.8
23,Prince Edward Island carbon tax,23.875850,48039,0.9240,33.4
24,Singapore carbon tax,3.713607,59797,0.9120,23.3
25,Slovenia carbon tax,20.320580,25489,0.8800,24.4
26,South Africa carbon tax,9.150943,5655,0.6660,63.0
27,Spain carbon tax,17.619000,27056,0.8760,34.3
28,Sweden carbon tax,137.243241,52274,0.9300,29.3
29,Switzerland carbon tax,101.474552,87100,0.9550,33.1
30,Tamaulipas carbon tax,12.720160,12160,0.7475,45.4
31,UK carbon price support,24.795000,41059,0.9070,35.1
32,Ukraine carbon tax,0.359420,3724,0.7470,25.6
33,Zacatecas carbon tax,12.230920,26469,0.7550,45.4
34,BRAZIL,NaN,6796,0.7550,48.9

In [ ]:
data.dtypes

Name of the initiative     object
Price_rate_1_2021         float64
PIBPCT                      int64
IDH                       float64
GINI                      float64
dtype: object

In [ ]:
data.isnull().sum()

Name of the initiative    0
Price_rate_1_2021         1
PIBPCT                    0
IDH                       0
GINI                      0
dtype: int64

In [ ]:
X = data.drop(['Price_rate_1_2021'], axis =1)

In [ ]:
y = data['Price_rate_1_2021']

In [ ]:
X_train = X[:33]
y_train = y[:33]

In [ ]:
X_test = X[33:]
y_test = y[33:]

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(X_train['Name of the initiative'])
(X_train['Name of the initiative'])= le.transform(X_train['Name of the initiative'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
le = preprocessing.LabelEncoder()
le.fit(X_test['Name of the initiative'])
(X_test['Name of the initiative'])= le.transform(X_test['Name of the initiative'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name of the initiative  33 non-null     int64
 1   PIBPCT                  33 non-null     int64
 2   IDH                     33 non-null     float64
 3   GINI                    33 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 1.2 KB

In [ ]:
rf = RandomForestRegressor(criterion='squared_error', 
                             n_estimators= 50,
                             min_samples_split=3,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
model_Random= rf.fit(X_train, y_train)

pred_Random = model_Random.predict(X_test)

In [ ]:
pred_Random

array([12.82362665,  5.89120197])

In [ ]:
y_test

33    12.23092
34         NaN
Name: Price_rate_1_2021, dtype: float64